@page "/note/create"
@using TakeNoteBlazor.Client
@using TakeNoteBlazor.Shared
@inject HttpClient http
@inject NavigationManager uriHelper
<h3>Create a Note</h3>

<!--<FormComponent ButtonText="Create Note" note="@note" OnValidSubmit2="@CreateNote"/>-->

@code {
    Note note = new Note();
    async Task CreateNote(bool IsNew)
    {
        await http.PostAsJsonAsync("api/note", note);
        uriHelper.NavigateTo("notes");
    }
}
