<nav aria-label="Page navigation example small">
	<ul class="pagination">
		<li class="page-item small"><a class="page-link small" @onclick="(()=>SetPageNumber(--Page))">Previous</a></li>
		@for (int i = 1; i <= TotalPages; i++)
		{
			var pageCounter = i;
			<li class="page-item small"><a class="page-link small" @onclick="(()=>SetPageNumber(Page = pageCounter))">@i</a></li>
		}
		<li class="page-item small"><a class="page-link small" @onclick="(()=>SetPageNumber(++Page))">Next</a></li>
	</ul>
</nav>

@code {
	private int Page { get; set; }
	[Parameter] public int TotalPages { get; set; }
	private async void SetPageNumber(int page)
	{
		if (page <= 1)
		{ Page = 1; }
		else if (page > TotalPages)
		{ Page = TotalPages; }
		else
		{ Page = page; }

		//if (totalPages % page == totalPages)
		//	Page = 1;
		//else
		//	Page = page;

		await GetPage.InvokeAsync(Page);

	}
	[Parameter] public EventCallback<int> GetPage { get; set; }
}
